In [35]:
import pandas as pd

In [36]:
def read_inputfile(filepath,filename):
    df = pd.read_excel(filepath+filename)
    return df

In [37]:
def read_mapping(filepath,filename):
    mdf = pd.read_excel(filepath+filename)
    return mdf

In [42]:
def map_source_target_columns(mapping_df,inputfile_df):
    #Get column list from mapping file
    dict_input_mapping = mapping_df.set_index('source').to_dict()['target']
    source_columns = mapping_df['source'].dropna().tolist()
    target_columns = mapping_df['target'].dropna().tolist()
    
    inputfile_df = inputfile_df.rename(columns = dict_input_mapping)
    
    for col in target_columns:
        if col not in inputfile_df.columns:
            inputfile_df[col]=None   
    
    return inputfile_df[target_columns]

In [43]:
# Call functions

inputfile_df=read_inputfile("C:\\Data\\","customer.xlsx")
mapping_df=read_mapping("C:\\Data\\","mapping.xlsx")
select_target_fields=map_source_target_columns(mapping_df,inputfile_df)

In [44]:
select_target_fields

   emp_id emp_name new_id address
0       1    ifjsi   None    None
1       2     ytyb   None    None
2       3    awewe   None    None
3       4    gvbnv   None    None
4       5     ujhj   None    None
5       6    dsdfd   None    None
6       7     bnhj   None    None
7       8   bvnjkh   None    None
8       9    xcvfg   None    None